#head {
    font-family: Arial, Helvetica, sans-serif;
}

#head_image {
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.test_note {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 10px;
}

.test_pics {
    height: 130px;
    width: 90px;
    border-radius: 10px;
    margin-right: 870px;
    margin-left: 10px;
}

.output1_azure {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.output2_net {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.result_note {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.result {
    border-radius: 10px;
    background-color: bisque;
    width: 500px;
}

.holder {
    border-radius: 10px;
    height: 400px;
    width: 800px;
    background-color: coral;
}

#test_mobile {
    width: 200px;
}

#test_shoes {
    width: 150px;
    height: 120px
}

#test_mic {
    width: 150px;
}

#test_bird {
    width: 120px
}